    <header class="border-b border-border border-white py-4 shadow">
      <div class="container max-w-7xl mx-auto px-4 sm:px-6 flex justify-between items-center">
        <%= link_to root_path do %>
          <%= render "shared/logo" %>
        <% end %>

        <%= link_to "Your Bookings", bookings_lookup_path, class: " font-medium " %>
      </div>
    </header>