<h1>Booking Confirmation</h1>

<p>Hi,</p>
<p>Thank you for your booking.</p>

<ul>
  <li><strong>Date:</strong> <%= @booking.booking_date %></li>
  <li><strong>Room:</strong> <%= @booking.meeting_room.name %></li>
  <li><strong>Time:</strong> <%= @booking.booking_time %></li>
  <li><strong>Delete PIN:</strong> <%= @booking.delete_pin %></li>
</ul>

<p>To cancel your booking, please use the Delete PIN above.</p>
<p>We'll see you then!</p>